<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.w3.org/2001/XMLSchema"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="by.example.TestBean">
        <constructor-arg value="Yury"/>
    </bean>

    <bean id="musicBean"
          class="by.example.ClassicalMusic">
    </bean>

    <bean id="musicBean1"
          class="by.example.RockMusic">
    </bean>

    <bean id="musicBean2"
          class="by.example.RapMusic">
    </bean>

<!--    <bean id="musicPlayerBean"-->
<!--          class="by.example.MusicPlayer">-->
<!--        <constructor-arg ref="musicBean"/>-->
<!--    </bean>-->

<!--    <bean id="musicPlayer1"-->
<!--    class="by.example.MusicPlayer">-->
<!--        <property name="music" ref="musicBean1"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

    <bean id="musicPlayer3"
          class="by.example.MusicPlayer">
        <property name="music">
            <list value-type="by.example.Music">
                <ref bean="musicBean"/>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
            </list>
        </property>
    </bean>
</beans>
